version: '3.8'

services:
  db:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: MYDB2
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5332:5432"
    networks:
      - db
    restart: unless-stopped

  spring-boot-application:
    image: spring-boot-application-image
    build: .
    volumes:
      - upload_data:/app/uploads  # Mount a volume to /app/uploads in the container
    ports:
      - "8081:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/MYDB2
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345
    depends_on:
      - db
    networks:
      - db

networks:
  db:
    driver: bridge

volumes:
  db:
  upload_data:  # Add a new volume for uploaded files
